<%- include('partials/header.ejs'); -%>

<main>
  <h1>Jacob Wilkerson</h1>
  <h2>Books I've Read</h2>
  <p>
    Tiny summary but detailed notes for each. Use the ISBN number to find it
    from your local library or anywhere else. This page will constantly update
    as I read more, so bookmark it if you want to check back in a few months.
  </p>
  <p id="sort-paragraph">
    Sorted by alphabetical order. Sort by <a href="/?sort=title">title</a>, <a href="/?sort=date">newest</a>, or <a href="/?sort=rating">best</a>.
  </p>
  <p>
    And please read this FAQ page about these notes, if you have any questions.
    You can also email me.
  </p>
  <a href="/add-note">Add Note +</a>

  <hr />

  <div class="notes-wrapper">
  <% if (locals.error) { %>  
    <p><%= error %></p>
  <% } else if (notes.length === 0) { %>
    <p>There are no notes yet.</p>
  <% } else { %>
    <% for (const note of notes) { %>
      <div class="note-wrapper">
        <div class="note-info-wrapper">
          <h3><%= note.title %></h3>
          <p><span>ISBN:</span> <%= note.isbn %></p>
          <p><span>Author:</span> <%= note.author %></p>
          <p><span>Rating:</span> <%= note.rating %>/10</p>
          <p><span>Date Read:</span> <%= note.date_read.toLocaleDateString("en-US") %></p>
          <a href="/note/<%= note.id %>">Read Review</a>
        </div>
        <div class="note-img-wrapper">
          <img src="<%= note.cover ?? '/images/unknown-cover.jpg' %>" alt="<%= note.title %>" />
        </div>
      </div>
    <% } %>
  <% } %>
  </div>  

  <hr />
</main>

<%- include('partials/footer.ejs'); -%>
